{% extends "encyclopedia/layout.html" %}

{% block title %} Search - {{query}} {% endblock %}


{% block body %}

{% if nothing_found %}

<h1>No Results for : <span class="badge badge-primary">{{query}}</span></h1>

{% else %}
<h1 class="mb-4">Results for : <span class="badge badge-primary">{{query}}</h1>

    <ul class="list-group c-mw">
        {% for entry in entries %}
            <li class="list-group-item"> 
                <a href="wiki/{{ entry }}">{{ entry }}</a>
            </li>
        {% endfor %}
    </ul>

{% endif %}
{% endblock %}