{% extends "auctions/layout.html" %}
{% block title %}
    Register - Auction
{% endblock title %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <h1 class="mb-4">
                    <span class="badge bg-dark">Login :</span>
                </h1>
                {% if message %}<div class="alert alert-danger my-2" role="alert">{{ message }}</div>{% endif %}
                {% include "auctions/inc/register.html" %}
            </div>
        </div>
    </div>
{% endblock body %}
